/**
* Index blog 
*/
.blog-card-container {
    margin-top: 20px;
    border-radius: 6px;
    /* border: 1px solid #ccc; */
    border: 1px solid #ccc;
}

.blog-card-container .card {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.comments {
    font-size: 13px;
    line-height: 1.5;
}

.replies {
    border-left: 1px solid #ccc;
    border-radius: 0 0 0 6px;
    max-width: 98%;
    margin-left: 2%;
}

.replies .card .card-body {
    /* padding-top: 0 !important; */
    padding-bottom: 0 !important;
}
.comments__info {
    /* background-color: #ccc */
}

.comment-container {
    display: none;
}

.comments__user {
}

.comments__date {
}

.comments__body {
}

.comments__body p {
    margin: 0;
}

/** show blog */

.blog-header img {
    max-height: 100px;
    max-width: 100px;
}

.cursor-pointer {
    cursor: pointer;
}
/* Path: public/css/blogs/blog.css */

/**
* replies
*/
.replies-container {
    width: 99%;
    /* border-style: 0 1px 1px 1px; */
    /* border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    margin: 0 0 0 auto;
    padding: 10px;
}
.replies-content {
    border-bottom: 1px solid #ccc;
}
.reply-card {
}
